body {
    font-size: 1.88vh;
  
}
.caixa-banner {
    background-image: url(../img/banner-bg.png);
    background-size: cover;
    background-position: center;
    height: 85vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.titulo1{
    font-size: 2rem;
    text-shadow: 2px 2px rgb(90, 3, 3);

}

.subtitulo1{
    font-size: 28px;
    text-shadow: 2px 2px rgb(90, 3, 3);
}

.link-sobre{
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #552222;
    font-weight: bold;
    background-color: white;
    padding: 8px 20px;
    border-radius: 20px;
}